@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="mt-5">Find any events that you interest!</h1>
    <div class="mt-5">
        <img class="mt-5" src="assets/logo.png" />
    </div>

</div>

