<h3 class="font-weight-normal">Edit</h3>

<div class="row ml-2 mt-4">
    <div class="col-8">
        <form>
            <div class="form-group">
                <label for="id" class="control-label">Id</label>
                <input class="form-control" ng-model="edit.id" disabled />
            </div>
            <div class="form-group">
                <label for="name" class="control-label">Name</label>
                <input type="text" class="form-control" ng-model="edit.name" placeholder="Name">

            </div>
            <div class="form-group">
                <label for="description" class="control-label">Description</label>
                <input type="text" class="form-control" ng-model="edit.description" placeholder="Description">

            </div>

            <div class="form-group float-right">
                <input type="submit" value="Save Edit" class="btn btn-success" ng-click="Edit()" />

                <input type="submit" value="Delete" class="btn btn-danger" ng-click="Delete()" />
            </div>
            <div class="form-group">
                <a href="#!/" class="btn btn-secondary">Go back</a>
            </div>
        </form>
    </div>
</div>


