@model IEnumerable<EventHub.Models.Category>

@{
    ViewData["Title"] = "Index";
}
@section Scripts{
    <script>
        
    </script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody id="index_table_body">
    </tbody>
</table>